* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
}

@media (min-width: 768px) {
   .container {
      width: 750px;
   }
}

@media (min-width: 992px) {
   .container {
      width: 970px;
   }
}

@media (min-width: 1200px) {
   .container {
      width: 1170px;
   }
}

:root {
   --color-default: #0a0d13;
   --color-primary: #0d42ff;
   --color-secondary: #0e1d34;
}

body {
   font-family: sans-serif;

}

nav {
   background: #0a0d13;
   color: white;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 60px;
   padding-right: 60px;

}

nav .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav .container ul {
   list-style: none;
   display: flex;
   gap: 20px;
   color: rgb(180, 167, 167);

}

nav .container button {
   background: #0d42ff;
   width: 100px;
   height: 4.8vh;
   color: white;
   border: none;
   border-radius: 5px;

}

nav .container .logo {
   color: white;
   font-size: 30px;
   font-weight: bold;
}

@media (max-width: 768px) {
   nav .container ul {
      /* width: 768px; */
      display: none;
   }
}


/* section1 */

.section1 {
   background: #0a0d13;
   color: white;
   padding-top: 60px;
   padding-bottom: 60px;
}

.section1 .container .col img {
   width: 400px;
   max-width: 100%;
}

.section1 .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.section1 .container .col {
   flex-basis: 45%;
}

@media (max-width: 991px) {
   .section1 .container {
      flex-direction: column-reverse;
      font-size: 17px;
   }
}

.section1 .container .col h2 {
   font-size: 45px;
   padding-bottom: 14px;
}

.section1 .container .col p {
   font-size: 14px;
   line-height: 22px;
   margin-bottom: 20px;

}

.section1 .container .col input {
   width: 400px;
   max-width: 100%;
   height: 9vh;
   border: none;
   border-radius: 5px;
   padding-left: 10px;
   font-size: 16px;

}

@media (max-width: 767px) {
   .section1 .container .col input {
      width: 200px;
   }
}

.section1 .container .col button {
   width: 100px;
   height: 7vh;
   border: none;
   border-radius: 2px;
   font-size: 20px;
   background: #0d42ff;
   color: white;


}

.section1 .container .all {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 50px;
}

.section1 .container .box {
   line-height: 40px;
   color: grey;
}

.section1 .container h3 {
   font-weight: bold;
   font-size: 30px;
}

.section1 .container .box {
   flex-basis: 25%;

}

@media (max-width: 767px) {
   .section1 .container .box {
      flex-basis: 45%;
   }
}


/* section2 */

.section2 {
   padding-top: 60px;
   padding-bottom: 60px;

}

.section2 .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;

}

.section2 .container .row {
   display: flex;
   justify-content: space-between;
   flex-basis: 30%;


}

@media (max-width:991px) {
   .section2 .container .row {
      flex-basis: 45%;
   }

}

@media (max-width: 768px) {
   .section2 .container .row {
      flex-basis: 100%;
   }

}


.section2 .container .text {
   margin-left: 10px;
   font-size: 15px;
   line-height: 22px;
   padding-top: 20px;

}

.section2 .container .text p {
   margin-top: 10px;
   margin-bottom: 10px;
}

.section2 .container .text a {
   font-weight: bold;
   text-decoration: none;
   color: black;

}

.section2 .container .icon {
   width: 100px;
   max-width: 100%;

}



/* section3 */

.section3 {
   padding-top: 60px;
   padding-bottom: 60px;
}

.section3 .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.section3 .container .col video {
   width: 600px;
   height: 300PX;
   max-width: 100%;

}

.section3 .container .col {
   flex-basis: 45%;
}

@media (max-width: 991px) {
   .section3 .container .col {
      flex-basis: 100%;
   }

}

.section3 .container .col p {
   font-size: 14px;
   line-height: 20px;
   margin-top: 10px;


}

.section3 .container .col .icon {
   display: flex;
   flex-direction: row;
   gap: 10px;
   margin-bottom: 10px;
   margin-top: 25px;


}

.section3 .container h2 {
   font-size: 35px;
   color: #001f8d;
}

.section3 .container .col h3 {
   font-size: 14px;
   /* margin-left: 10px;  */
}


/* section4 */
.section4 {
   padding-top: 60px;
   padding-bottom: 60px;
}

.section4 h2 {
   padding-bottom: 20px;
   text-align: center;
   font-size: 35px;
   color: #001f8d;

}

.section4 .container {
   padding-bottom: 30px;
   display: flex;
   justify-content: space-between;
   align-self: center;
   flex-wrap: wrap;

}

.section4 .container .col {
   margin-bottom: 10px;
   flex-basis: 30%;

}

@media (max-width: 991px) {
   .section4 .container .col {
      flex-basis: 45%;
   }

}

@media (max-width:768px) {
   .section4 .container .col {
      flex-basis: 100%;
   }

}

.section4 .container .col img {
   width: 360px;
   max-width: 100%;

}

@media (max-width:767px) {
   .section4 .container .col img {
      width: 100%;
   }

}

.section4 .container .col {
   border: 0.2px solid lightgray;
   border-radius: 5px;


}

.section4 .container .col h2 {
   margin-top: 10px;
   color: #001f8d;
   font-size: 25px;
   margin-left: 15px;
}

.section4 .container .col p {
   line-height: 24px;
   margin-bottom: 20px;
   font-size: 16px;
   margin-left: 15px;
}



/* section5 */

.section5 {

   padding-top: 60px;
   padding-bottom: 60px;
}

.section5 h2 {
   padding-bottom: 20px;
   text-align: center;
   font-size: 35px;
   color: #001f8d;

}

.section5 .container {
   display: flex;
   justify-content: space-between;
   align-self: center;
   flex-wrap: wrap;

}

.section5 .container .col {
   flex-basis: 30%
}

.section5 .container .col img {
   width: 360px;
   max-width: 100%;

}


.section5 .container .col {
   border: 0.2px solid lightgray;
   border-radius: 5px;

}

.section5 .container .col h2 {
   margin-top: 10px;
   color: #001f8d;
   font-size: 25px;
   margin-left: 15px;
}

.section5 .container .col p {
   line-height: 24px;
   margin-bottom: 20px;
   font-size: 16px;

}


/* section6 */

.section6 {

   height: 50vh;
   padding-top: 60px;
   padding-bottom: 60px;
   background-image: url(img/cta-bg.jpg);

}

.section6 .container {
   text-align: center;
   color: #fff;
   position: relative;


}

.section6 .container .ovarly {
   height: 100%;
   width: 100%;
   background: #00030c6c;
   position: absolute;


}

.section6 .container h3 {
   font-size: 25px;
   margin-bottom: 20px;

}

.section6 .container p {
   font-size: 22px;
   line-height: 35px;

}

.section6 .container button {
   font-weight: bold;
   font-size: 20px;
   color: #fff;
   margin-top: 20px;
   padding: 10px 30px;
   background: transparent;
   border: 2.5px solid #fff;
   border-radius: 5px;
   margin-bottom: 20px;

}


/* section7 */
.section7 {
   padding-top: 60px;
   padding-bottom: 60px;
}

.section7 .container {
   display: flex;
   gap: 50px;
   /* justify-content: space-between; */
   align-items: center;
   flex-wrap: wrap;
}

.section7 .container .col {
   flex-basis: 45%;

}

@media (max-width: 991px) {
   .section7 .container .col {
      flex-basis: 100%;
   }

}

@media (max-width:767px) {
   .section7 .container img {
      max-width: 100%;

   }

}

.section7 .container .col img {
   width: 500px;
   max-width: 100%;

}

.section7 .container .col p {
   line-height: 25px;
   font-style: italic;
   font-size: 16px;

}

.section7 .container .col h2 {
   color: hsl(227, 100%, 28%);
   line-height: 30px;
   font-size: 21px;
   font-weight: bold;
   margin-bottom: 10px;
}

/* .section7 .container .col ul {
   list-style: none;
} */
.section7 .container .col ul li {
   line-height: 35px;
   margin-top: 10px;

}


/* section8 */
.section8 {
   padding-top: 60px;
   padding-bottom: 60px;
}

.section8 .container {
   display: flex;
   gap: 30px;
   /* justify-content: space-between; */
   align-items: center;
   flex-wrap: wrap;
}

.section8 .container .col {
   flex-basis: 45%;

}

@media (max-width: 991px) {
   .section8 .container .col {
      flex-basis: 100%;

   }

}

.section8 .container .col img {
   width: 500px;
   max-width: 100%;
}

.section8 .container .col h2 {
   font-size: 25px;

}

.section8 .container .col .span {
   font-style: italic;
   font-size: 15px;
   line-height: 25px;
   margin-top: 10px;
   margin-bottom: 10px;

}

.section8 .container .col p {
   font-style: normal;
   font-size: 16px;
   line-height: 25px;
   margin-top: 10px;
}



/* section9 */

.section9 {
   padding-top: 60px;
   padding-bottom: 60px;

}

.section9 .container {
   display: flex;
   gap: 21px;
   align-items: center;
   flex-wrap: wrap;
}

.section9 .container .col {
   flex-basis: 45%;
}

.section9 .container .col img {
   width: 490px;
   max-width: 100%;
}



/* section10 */
.section10 {
   padding-top: 60px;
   padding-bottom: 60px;
}

.section10 .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.section10 .container .col img {
   width: 500px;
   max-width: 100%;
}

.section10 .container .col {
   flex-basis: 45%;
}

.section10 .container .col h2 {
   font-size: 23px;
   margin-bottom: 10px;

}

.section10 .container .col span {
   font-style: italic;
   font-size: 16px;
   line-height: 22px;

}

.section10 .container .col p {
   font-size: 17px;
   margin-top: 10px;
   line-height: 25px;
}

/* section11 */
.section11 {
   padding-top: 60px;
   padding-bottom: 60px;
   font-size: 19px;


}

.section11 .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;

}

.section11 .container .col {
   box-sizing: border-box;
   padding: 25px;
   margin-bottom: 15px;
   line-height: 45px;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
   flex-basis: 30%;

}

@media (max-width:991px) {
   .section11 .container .col {
      flex-basis: 30%;
   }
}

@media (max-width:768px) {
   .section11 .container .col {
      flex-basis: 45%;
   }
}

@media (max-width:580px) {
   .section11 .container .col {
      flex-basis: 100%;
   }
}

.section11 h2 {
   margin-bottom: 20px;
   text-align: center;
   font-size: 40px;
   color: #001f8d;

}

.section11 .container .col h3 {
   font-size: 30px;
   margin-bottom: 15px;
   color: #001f8d;
}

.section11 .container .col h6 {
   font-size: 19px;
   color: #001f8d;
}

.section11 .container .col ul {
   list-style: none;
   color: gray;
}

.section11 .container .col button {
   padding: 15px;
   width: 150px;
   margin-left: 10px;
   background: #001f8d;
   border: 1px solid  #001f8d;
   border-radius: 5px;
   color: #fff;
   font-size: 17px;
   margin: 15px auto;
}


.section11 .container .col button:hover {
   background: #fff;
   color: #001f8d;
   transition: 0.3s;
}

.section11 .container .col h6 span .dolar {
   font-size: 60px;
}


/* section12 */

.section12{
   padding-top: 60px;
   padding-bottom: 60px;
   background-image: url(img/testimonials-bg.jpg);
   height:100%;

}
.section12 .container{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   position: relative;
      
}

.section12 .container img{
   width: 130px;
   border-radius: 50%;
   border:rgb(175, 175, 175) solid 5px ;
}

.section12 .container h2{
   color: #fff;
   font-size: 22px;
}

.section12 .container h5{
   color: #fff;
   font-size: 17px;
   margin-left: 12px;

}

.section12 .container p{
   color: #fff; 
   font-size: 19px;
   text-align: center;
}
.section12 .container .starts{
   color: gold;
   margin: 15px;
   font-size: 22px;
  
}
.section12 .container .ovarlay{
   height: 100%;
   width: 1010%;
   position: absolute;
   margin-top: 60px;
   background: #0a0a0a96;
  
}


/* .section13 */
.section13{
   height: 20vh;
   background: green;
}


/* footer section */

footer{
   padding-top: 60px ;
   padding-bottom: 60px ;
   background: #0e1d34;
   color: #fff;
   align-items: center;

}
footer .container{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
footer .container .col{
   flex-wrap: wrap;
   line-height: 25px;
   flex-basis: 21%;
   margin-bottom: 10px;
}
footer .container .col-col{
     flex-basis: 25%;
     
}

@media (max-width:991px) { footer .container .col{
   flex-basis: 45%;
   margin-bottom: 10px;
}
   
}

@media (max-width:767px) { footer .container .col{
   flex-basis: 100%;
   margin-bottom: 10px;
}
   
}

footer .container .col .logo{
   margin-bottom: 20px;
   font-size: 30px;
   font-weight: bold;
}
footer .container .col ul{
   color: rgb(206, 204, 204);
   line-height: 35px;
   
}
footer .container .col p{
   font-size: 12px;
   margin-bottom: 20px;
   color: rgb(206, 204, 204);
}
footer .container .col h4{
   font-size: 18px;
}
footer .container .col h6{
   margin-top: 10px;
   font-size: 14px;
   color:rgb(206, 204, 204);
}
footer .container .col .icons{
   display: flex;
   gap: 20px;
     
}
footer .container .col i{
   padding: 10px ;
   border: 2px solid grey;
   border-radius:50%;
}

footer .container .col i:hover{
   color: gold;
   border-color: gold;
}